<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#/">Shop</a></li>
      <li><a href="#/cart">Cart ({{ user.cartInfo.numItems }} / ${{ user.cartInfo.subtotal }})</a></li>
      <li><a href="#/account">Account</a></li>
    </ul>
  </div>
  <!-- /.container-fluid -->
</nav>
<!-- <spinner img-src="img/boxspinner.gif" show="!ready"></spinner> -->
<!-- Page Features -->
<div class="row text-center">
  <h4>
    Gallery
  </h4>
  <div>
    <canvas width="800" height="1400" drawing></canvas>
  </div>
</div>

<!-- /.row -->