<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li><a ng-href="#/cart">Cart</a></li>
      &#8250;
      <li><a ng-href="#/checkout/info">Information</a></li>
      &#8250;
      <li class="active"><a>Shipping Method</a></li>
      &#8250;
      <li><a style="text-decoration : none; color : #999">Payment</a></li>
      &#8250;
      <li><a style="text-decoration : none; color : #999">Review</a></li>
    </ul>
  </div>
  <!-- /.container-fluid -->
</nav>
<!-- Page Features -->

<spinner img-src="img/boxspinner.gif" show="!ready"></spinner>
<div class="row" ng-show="ready">
  <div class="col-md-2">
  </div>
  <div class="col-md-4">
    <h4>
      Shipping Method
    </h4>
    <div class="alert alert-danger" ng-show="err != null" required>
      <strong>Oops!</strong> We are unable to provide shipping details to your address. Please review your shipping information.
    </div>
    <div ng-hide="err != null">

      <div class="list-group text-left">
        <a ng-class="{ 'active' : info.shipping_method.service.name === method.service.name}" class="list-group-item" ng-repeat="method in methods | orderBy: 'method.price.total'" ng-click="selectMethod(method)">
          <div class="row">
            <div class="col-md-9">
              <h4 class="list-group-item-heading">Canada Post {{ method.service.name }}</h4>
            </div>
            <div class="col-md-3">
              <h4 class="list-group-item-heading">${{ method.price.total }}</h4>
            </div>
          </div>
          <p class="list-group-item-text">
            Estimated transit time: {{ method.serviceStandard.expectedTransitTime}} business day(s) <br/>
          </p>
        </a>
      </div>
      <div class='form-row'>
        <div class='col-md-12 form-group'>
          <button class='form-control btn btn-default submit-button' ng-disabled="info.shipping_method == null" ng-click="continue()" type='submit'>Payment &raquo;</button>
        </div>
      </div>
    </div>
    <br/>
    <div class="row text-center">
      <a href="#/checkout/info">Return to customer information</a>
    </div>
  </div>
  <div class="col-md-4 column-right">
    <table class="table">
      <tbody>
        <tr ng-repeat="item in user.cart">
          <td class="col-sm-1 col-md-1 vert-align">
            <img ng-src="/img/products/{{ item.sku }}.png" style="width: 75px; height: 75px;">
          </td>
          <td class="col-sm-4 col-md-3 vert-align">
            <h5 class="media-heading">{{ item._product.name}}</h5>
            <span>{{ utils.getSizeStringFromCode( item.size ) }}</span> <br/>
          </td>
          <td class="col-sm-4 col-md-3 vert-align">
            <h5>{{ item.quantity}} &#215; {{ item._product.price }} &#61; <strong>${{ item._product.price * item.quantity }}</strong></h5></td>
          </td>
        </tr>
        <tr class="row-top">
          <td>
            <h4>
            Subtotal
            </h4></td>
          <td></td>
          <td>
            <h4 ng-show="totals.subtotal == (null || 0)">
              -
            </h4>
            <h4 ng-hide="totals.subtotal == (null || 0)">
              ${{ totals.subtotal }}
            </h4>
          </td>
        </tr>
        <tr>
          <td>
            <h4>
            Taxes
            </h4></td>
          <td></td>
          <td>
            <h4 ng-show="totals.taxes == (null || 0)">
              -
            </h4>
            <h4 ng-hide="totals.taxes == (null || 0)">
              ${{ totals.taxes }}
            </h4>
          </td>
        </tr>
        <tr>
          <td>
            <h4>
            Shipping
            </h4></td>
          <td></td>
          <td>
            <h4 ng-show="totals.shipping == (null || 0)">
              -
            </h4>
            <h4 ng-hide="totals.shipping == (null || 0)">
              ${{ totals.shipping }}
            </h4>
          </td>
        </tr>
        <tr class="row-top">
          <td>
            <h4>
            Coupon
            </h4></td>
          <td>
            <input ng-show="info.coupon == null" type="text" class="form-control" name="coupon" placeholder="" ng-model="coupon">
          </td>
          
          <td>
            <button class="btn btn-default" type="button" ng-show="info.coupon == null" ng-click="applyCoupon(coupon)">Apply</button>
            <h4 ng-hide="info.coupon == null">
              {{ info.coupon.description }}
            </h4>
          </td>
        </tr>
        <tr style="background-color:black; color:white;">
          <td>
            <h4>
            <strong>Total</strong>
            </h4></td>
          <td></td>
          <td>
            <h4 ng-show="totals.total == (null || 0)">
              <strong>-</strong>
            </h4>
            <h4 ng-hide="totals.total == (null || 0)">
              <strong>
                ${{ totals.total }}
              </strong>
            </h4>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-2">
  </div>
  <!-- /.row -->
  <br/>